main {
    overflow: hidden;
    padding: 1rem;
}

.claseContenido {
    float: left;
    padding-top: 2rem;
}


section {
    width: 100%;
}

.editarClase{
    color: #555555;
}
aside {
    width: 40%;
    padding-right: 2%;
}

.listaClases li {
    padding: 1rem;
    border: 1px solid #bbbbbb;
    color: black;
}

#lecciones {
    background: rgba(85, 85, 85, 0.4);
    color: black;
    font-weight: bold;
}

#lecciones li {
    color: black;
}

.listaClases a {
    color: black;
    text-decoration: none;
}

li strong {
    float: right;
}

#lessons {
    color: black;
}

.desplegableClases{
    height: 0px;
    overflow: hidden;
}

.clasesDesplegada{
    height: auto;
    overflow: visible;
    padding-top: 1rem;
}

.desplegableClases strong {
    float: right;
}


#reproductor {
    width: 100%;
    height: 28rem;
}

#testUnidad {
    margin-top: 2rem;
    margin-bottom: 32px;
}
.menuClases{
    display: block;
    font-size: 1.2rem;
}

#testUnidad {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


@media (max-width: 425px) {
    aside {
        width: 100%;
        padding-right: 0px;
}

#reproductor {
    height: 16rem;
}
}
@media screen and (min-width: 426px) and (max-width: 767px) {
section {
    width: 27rem;
}
#reproductor {
    height: 14rem;
}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
section {
    width: 26rem;
}
#reproductor {
    height: 16rem;
}
}
@media screen and (min-width: 1024px) {
section {
    width: 37rem;
}
}
@media screen and (min-width: 1025px) and (max-width: 2500px) {
section {
    width: 49rem;
}
#reproductor {
    height: 28rem;
}
}

@media (min-width: 2500px) {
*{
    font-size: 1.2rem;
}
section {
    width: 78rem;
}
#reproductor {
    height: 50.6rem;
}
}